* {
    margin: 0;
    padding: 0;
}

.nav {

    display: flex;
    background-color: rgba(128, 128, 128, 0.212);

}

.nav>div {

    padding: 20px;
}

.main {

    padding: 20px;
}

@media (min-width:900px) {

    .nav{

        display: flex;
        flex-direction: column;
        height:100%;
        position: fixed;
        width:190px;
    }
    .container{

        display:flex;

    }
    .main{

       margin-left:190px;
    }
    
}
.active{

    background-color: green;
    color:white;
}

@media screen and (max-width:600px){

    .nav{

        display: flex;
        flex-direction: column;
        text-align: center;
    }
}