h1 {
    text-align: center;
}

h3 {

    color: blue;
}

body>div {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5vh;
    padding: 15px;
}

body>div>img {

    margin-right: 2vw;
    border: 1px solid black;
    padding: 5px;
}

body div:nth-child(even) {

    background-color: rgba(128, 128, 128, 0.247);
}