body {

    display: flex;
    justify-content: center;
}

table,
td {

    border: 1px solid rgba(128, 128, 128, 0.219);
    border-collapse: collapse;
}

th {
    border: 1px solid white;
}

table {
    width: 80%;
}

th {
    background-color: rgb(74, 173, 79);
    color: white;
    padding: 10px;
}

td {
    text-align: center;
    padding: 10px;
}

tbody>tr:nth-child(odd) {
    background-color: rgba(128, 128, 128, 0.116);
}

tbody>tr:hover {
    background-color: rgba(128, 128, 128, 0.256);
}