* {
    margin: 0;
    padding: 0;
}

.container>div{

    display:inline-block;
    padding: 15px;
}
.container{

    background-color: rgba(128, 128, 128, 0.379);
    /* position: absolute;
    bottom: 0; */
    width:100%;
}
.main{

    padding:15px;
}

#active{

    background-color: rgba(0, 128, 0, 0.646);
    color:white;
    border-bottom: 3px solid red;
}

h1{
    margin-bottom: 20px;
}

.container>div:hover{

    border-bottom: 3px solid red;
}