#blue-rectangle {

    height: 100px;
    width: 100px;
    background-color: blue;
}

#red-rectangle {

    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    top: 10px;
    left: 10px;
}

.container {

    position: relative;
}

button {

    position: absolute;
    top: 120px;
}