body{

    display: grid;
    place-items: center;
   
}

div{

    height:100px;
    width:100px;
    border:10px solid black;
    border-radius: 50%;
    border-top: 10px solid blue;
    animation: spin 2s infinite linear;
}

@keyframes spin{

    0%{
        transform:rotate(-360deg);
    }

}