.dropdown{

    position: relative;
}

.dropdown-content{
    
    position:absolute;
    background-color:white;
    width:120px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.226);
    display: none;
    

}
.dropdown-content>div{

    padding: 15px;

}

.dropdown:hover .dropdown-content{

    display: block;
}

.dropbtn{
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.dropdown-content>div:hover{

    background-color: rgba(128, 128, 128, 0.447);
}

