.container {

    display: flex;
    background-color:black;
    color:white;
    position: relative;
}

.container>div {

    padding: 15px;
}

/* .dropcontent {

    display: none;
    position: absolute;
    top: 56px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.331);
    width: 150px;
    z-index: 1;
    background-color: white;
    transform: translateX(-15px);
    color:black;

} */

.dropcontent{
    display: none;
    position: absolute;
    top:48px;
    background-color: red;
    color:black;
    width:100%;
    height:120%;
    left:0;
    z-index:1;
    color:white;
}

.dropcontent>div {

    padding: 15px;
}

.dropdown:hover .dropcontent {

    display: flex;
}

.dropcontent>div:hover {

    background-color: rgba(128, 128, 128, 0.29);
}

.main {

    padding: 15px;
}

.container>div:hover {

    background-color:red;
}